.card {
  border: 5px solid var(--background-color2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.card > svg {
  height: 30px;
  width: 30px;
  margin-inline: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px;
}
